<div class="row">
  <div class="col-md-6">
    <a class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left">
        Atrás
      </i>
    </a>
  </div>
  <div class="col-md-6">

  </div>
</div>
<div class="row">
  <div class="col-md-10 mx-aut mt-2">
    <div class="card">
      <div class="card-header">
        Nueva receta
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label>Titulo</label>
            <input type="text" class="form-control" id="titulo" name="titulo">
          </div>
          <div class="form-group">
            <label>Descripción</label>
            <textarea type="text" class="form-control" id="descripcion" name="descripcion"></textarea>
          </div>
          <div class="form-group">
            <label>Ingredientes</label>
            <textarea type="text" class="form-control" id="ingredientes" name="ingredientes"></textarea>
          </div>
          <div class="form-group">
            <label>Preparacion</label>
            <textarea type="text" class="form-control" id="titulo" name="titulo"></textarea>
          </div>
          <div class="form-group">
            <label>Temporada</label>
            <select multiple="multiple" name="temporada" id="temporada" class="form-control">
              <option value="">Verano</option>
              <option value="">Otoño</option>
              <option value="">Invierno</option>
              <option value="">Primavera</option>
            </select>
          </div>
          <input type="submit" value="Enviar" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
</div>