<div class="row">
  <div class="col-md-10 blog-main">
    <div class="blog-post mt-4">
      <h1 class="blog-post-tittle border-bottom">
        Titulo
      </h1>
      <p class="blog-post-meta">fecha Por <a href="">Matthew Seidel</a></p>
      <p>Descripción</p>
      <blockquote>
        <h2>Preparación</h2>
      </blockquote>
      <h2>Ingredientes</h2>
      <p>Ingredientes de la receta</p>
    </div>
  </div>
  <div class="col-md-2">
    <div class="btn-group pull-right mt-4">
      <a routerLink="/edit/" class="btn btn-light" >Editar</a>
      <a (click)=onDelete() class="btn btn-danger">Eliminar</a>
    </div>
  </div>
</div>