<div class="row">
    <div class="col-md-6">
      <a class="btn btn-link" (click)="onBack()" >
        <i class="fa fa-arrow-circle-o-left">
          Atrás
        </i>
      </a>
    </div>
    <div class="col-md-6">
  
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 mx-aut mt-2">
      <div class="card">
        <div class="card-header">
          Editar Receta
        </div>
        <div class="card-body">
          <form #formGuardar="ngForm" (ngSubmit)="onEditReceta(formGuardar)">
            <div class="form-group">
              <label>Titulo</label>
              <input type="text" class="form-control" id="titulo" [(ngModel)]="receta.titulo" name="titulo" required minlength="5" #titulo="ngModel">
              <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)" class="alert alert-danger">
                <div *ngIf="titulo.errors.required">
                  <b>Error:</b> esto es requerido
                </div>
                <div *ngIf="titulo.errors.minlength">
                  <b>Error:</b> Debe tener almenos 5 caracteres
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Descripción</label>
              <textarea type="text" class="form-control" id="descripcion" [(ngModel)]="receta.descripcion" name="descripcion" required
                #descripcion="ngModel" maxlength="2000" minlength="20"></textarea>
              <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="alert alert-danger">
                <div *ngIf="descripcion.errors.required">
                  <b>Error:</b> esto es requerido
                </div>
                <div *ngIf="descripcion.errors.minlength">
                  <b>Error:</b> Debe tener almenos 20 caracteres
                </div>
                <div *ngIf="descripcion.errors.maxlength">
                    <b>Error:</b> Debe tener máximo 2000 caracteres
                  </div>
              </div>
            </div>
            <div class="form-group">
              <label>Ingredientes</label>
              <textarea type="text" class="form-control" id="ingredientes" 
              [(ngModel)]="receta.ingredientes" required minlength="20" name="ingredientes" #ingredientes="ngModel"></textarea>
              <div *ngIf="ingredientes.invalid && (ingredientes.dirty || ingredientes.touched)" class="alert alert-danger">
                <div *ngIf="ingredientes.errors.required">
                  <b>Error:</b> esto es requerido
                </div>
                <div *ngIf="ingredientes.errors.minlength">
                  <b>Error:</b> Debe tener almenos 20 caracteres
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Preparacion</label>
              <textarea type="text" class="form-control" id="preparacion" [(ngModel)]="receta.preparacion" name="preparacion" required
                minlength="20" #preparacion="ngModel"></textarea>
            </div>
            <div *ngIf="preparacion.invalid && (preparacion.dirty || preparacion.touched)" class="alert alert-danger">
              <div *ngIf="preparacion.errors.required">
                <b>Error:</b> esto es requerido
              </div>
              <div *ngIf="preparacion.errors.minlength">
                <b>Error:</b> Debe tener almenos 20 caracteres
              </div>
            </div>
  
            <div class="form-group">
              <label>Temporada</label>
              <span class="badge badge-pill badge-info" *ngFor="let item of receta.temporada"> {{item}} </span>
              <select multiple="multiple" name="temporada" id="temporada" [(ngModel)]="receta.temporada" class="form-control" required
                #temporada="ngModel">
                <option>Verano</option>
                <option>Otoño</option>
                <option>Invierno</option>
                <option>Primavera</option>
              </select>
              <div *ngIf="temporada.invalid && (temporada.dirty || temporada.touched)" class="alert alert-danger">
                <div *ngIf="temporada.errors.required">
                  <b>Error:</b> esto es requerido
                </div>
              </div>
            </div>
            <input type="submit" value="Modificar" class="btn btn-primary btn-block" [disabled]="!formGuardar.valid">
          </form>
        </div>
      </div>
    </div>